$blue: #4C55B2;
$green: #BCD500;
$pink: #FF85BB;
$yellow: #F6B801;
/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.logo-box{
        img{
           
            width: 100%;
            max-width: 186px;
            height: auto;
        }
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .header{
        text-align: center;

    }
    .contacts{
        text-align: center !important;
        .tels{
             text-align: center !important;
             margin-bottom: 20px;
        }

    }
    .header-nav{
        ul{
            li{
                display: block !important;
                i{
                    display: none !important;
                }
            }
        }
    }
    .second-box{
        margin-right: 50px !important;
        .item{
           
        }
        .item:nth-child(3n){
            //margin-right: 0px;
        }
    }
    .about{
        h2{
            text-align: center;
        }
        form{
            margin-top: 30px;
        }
    }
    .footer-top{
        padding: 15px 0px;
        .title{
            margin-top: 30px;
        }
    }
    .paginator{
        text-align: center !important;
        .pright{
            text-align: center !important;
            margin-top: 10px;
        }
    }
    .cright{
        margin-top: 25px;
    }
    .menu{
        display: none;
    }
    
    .header-nav{
        a{
            padding: 10px 25px !important;
        }
    }
 
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .second-box{
        .item{
            margin-right: 50px;
        }
        .item:nth-child(5n){
            margin-right: 0px;
        }
        .item:nth-child(4n){
            margin-right: 0px;
        }
    }
	.second-box{
        //margin-right: 50px !important;
        .item{
           float: none;
           clear: both;
           
           margin-right: 0px;
           margin: 0 auto !important;

        }
        .item{
            margin-right: 0px;
        }
    }
    .review{
        .item{
            padding: 10px !important;
            .text{
                padding: 10px !important;
                padding-left: 25px !important;
            }
        }
        .arrs{
            font-size: 25px !important;
        }
        .next{
            //right: -25px !important;
        }
        .prev{
            //left: -25px !important;
        }
    }

}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    
  
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .header-middle{
        padding-left: 15px;
        
    }
    .button-blue{
        width: 90%;
    }
    .slider{
        .item{
            max-height: 384px;
        }
        .next{
           
            right: -60px;
        }
        .prev{
            
           
            left: -60px;
        }
    }
    .children-block{
        .item{
            //max-width: 254px;
            
        }
        .pink{
           // margin-left: 50px;
        }
    }
    .rekvizity{
        .rright{
            min-height: 385px;
        }
    }
    .header-nav{
        .menu > li{
            display: inline-block;
            position: relative;
            margin: 0px !important;
            padding: 0px !important;
            margin-left: -.36em !important;
           > a{
                display: inline-block;
                color: #fff;
                font-family: 'Open Sans Bold', arial;
                text-decoration: none;
                text-transform: uppercase;
                text-align: left !important;
               // font-size: 12px;
                 //padding: 10px 35px !important;
            }

        }
        .menu > li{
            > a:after{
                position: absolute;
                content: "";
                width: 1px;
                background: #fff;
                height: 100%;
                top: 0px;
                right: 0px;
                
            }
            > a:hover:before{
                position: absolute; 
                content: "";
                width: 1px;
                background: #fff;
                height: 100%;
                top: 0px;
                left: 0px;

            }
        }
        .menu > li:first-child{
            > a:hover:before{
                background: none;
            }
        }
        .menu > li:last-child{
            > a:after{
                background: none;
            }
        }
        .sub-menu{
            display: none;
            position: absolute;
            z-index: 10000;
            width: 150% !important;
            left: 0px;

            background: $blue;
            li{
                display: block;
                position: relative;
                width: 100%;
                text-align: left !important;
                
                a{
                    display: inline-block;
                    width: 100%;
                    text-transform: none;
                    text-align: left !important;
                    padding: 10px 25px !important;

                }
            }
            li:hover{
                background: lighten($blue, 15%);
                transition: all 0.5s;
                .sub-menu-2{
                    display: block;
                }
            }
            li:last-child{
                margin-bottom: 0px;
            }
            .sub-menu-2{
                display: none;
                width: 120%;
                position: absolute;
                margin-left: 250px;
                //padding: 15px 10px;
                background: $blue;
                top: 0px;


            }
        }

        ul > li:hover{
            .sub-menu{
                display: block;
            }
        }
        

    }
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	
    .second-box{
        .item{
            margin-right: 43px;
        }
        .item:nth-child(5n){
            margin-right: 0px;
        }
    }
    .header-nav{
        a{
            font-size: 16px;
            padding: 10px 50px !important;
        }
    }
}