/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.girl-box{
    text-align: right;
    bottom: -55px !important;
    img{
      display: inline-block !important;
      max-width: 50% !important;
      height: auto;
      text-align: right;  
      margin-top: 50px !important;
    }
  }
   .header .button-1{
      position: absolute;
      height: 32px !important;
      line-height: 32px !important;
      margin-top: 100px;
      padding: 0px 15px !important;
  }
  .futures{
    margin-top: 50px;
    font-size: 16px !important;
    .title{
      font-size: 20px !important;
    }
  }
  .w-right{
    img{
      display: block !important;
      position: relative !important;
      //margin-top: 50px;
    }
  }
  .wis-1, .wis-3, .wis-4, .wis-5,{
    display: block !important;
    margin-top: 20px !important;
  }
  .wis-1{
    margin-top: -15px !important;
  }
  .programs{
    
    .button-box{
      width: 100% !important;
      position: relative;
      padding-top: 10px !important;
      padding-bottom: 10px !important;
      text-align: center !important;
      .button-1{
        display: inline-block !important;
        text-align: center !important;
      }
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.girl-box{
    text-align: right;
    img{
      display: inline-block !important;
      max-width: 50% !important;
      height: auto;
      text-align: right;  
    }
  }
  .programs{
    .title{
      font-size: 30px;
      line-height: 35px !important;
    }
  }
  .slider{
    padding-bottom : 20px !important;
    .arrs{
      top: 55px !important;

    }
  }
  .map-box{
      padding: 0px !important;
      width: 250px !important;
      height: 200px !important;

      -webkit-background-size: 100% !important;
      -moz-background-size: 100% !important;
      -o-background-size: 100% !important;
      background-size: 100% !important;
      -webkit-background-size: cover !important; 
      -moz-background-size: cover !important;
      -o-background-size: cover !important;
      background-size: cover !important;
      p{
        margin: 0px !important;
        margin-left: 10px !important;
      }
    }
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.header{
    .logo{
      display: block;
      width: 70%;
      height: auto;
    }
    .contacts{
      font-size: 25px !important;
    }
    .text1{
      font-size: 22px !important;
    }
    
  }
  .girl-box{
    text-align: right;

    img{
      display: inline-block !important;
      max-width: 30% !important;
      height: auto;
      text-align: right;  

    }
  }
  .button-1{
      margin-top: 80px;
  }
  .why{
    .title{
      font-size: 30px !important;
    }
    .w-right{
      img{
        display: inline-block !important;
        position: relative !important;
        width: 100%;
        max-width: 70%;

        height: auto;
        margin: 0 auto;
        margin-left: -30%;
        text-align: center;
      }
    }
    .para{
      display: block !important;
      text-align: center;
      width: 100%;
      .digit{
        display: inline-block !important;
      }
      .right{
        display: block !important;
        padding: 0px !important;
      }

    }
  }
  
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
  
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .header {
    .text1{
      font-size: 82.22px;
      margin-top: 50px;
      margin-bottom: 20px;
    }
    .col-button{
      text-align: right;
      margin-top: 30px;

     
    }
    .contacts{
      margin-top: 30px;
    }
    .button-1{
        display: inline-block;
        width: 190px;
       margin-left: 120px !important;
    }
    .logo{
      margin-left: -100px;
    }
  }
  .contacts{
    text-align: right;
    padding-top: 3px;
    span{
      display: inline-block;
      margin-left: 130px;
      white-space: nowrap;
    }
  }
  .slider, .slider-box{
     max-height: 295px;
     img{
      max-height: 295px;
     }
  }
  .wis-2{
    margin-top: 100px !important;
  }
  .wis-3{
    margin-top: 10px !important;
  }
  .wis-5{
    margin-top: -20px !important;
  }
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	
 
}